*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(0,151,137) 20%, rgb(219,220,212) 15%);
}

li{
    list-style-type: none;
}

.container-box{
    height: 700px;
    width: 1100px;
    display: flex;
    background-color: white;
}

.user-avatar{
    width: 23%;
    border-radius: 50%;
}

.contact-avatar{
    width: 18%;
    border-radius: 50%;
}

/* LEFT BOX */

.left-box{
    height: 100%;
    flex-basis: 35%;
    border-right: 2px solid lightgray;
}

.user-menu{
    background-color: rgb(234,234,234);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.notice{
    height: 80px;
    width: 100%;
}

.search-bar{
    width: 100%;
    font-size: 14px;
    margin: 5px 0;
}

.contact-list{
    width: 100%;
    height: calc(100vh - 290px);
    overflow: auto;
}

.notice{
    background-color: rgb(143,219,252);
    display: flex;
    align-items: center;
}

.fa-bell-slash{
    color: rgb(143,219,252);
    background-color: white;
    border-radius: 50%;
    padding: 15px 12px;
}

.active-notice{
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}

.line{
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.line:hover{
    background-color: rgb(234,234,234);
    cursor: pointer;
}

/* RIGHT BOX */

.right-box{
    height: 100%;
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

header{
    height: 70px;
    flex-shrink: 0;
    padding:  5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234,234,234);
}

.chat-section{
    flex-grow: 1;
    overflow: auto;
}

footer{
    height: 70px;
    flex-shrink: 0;
}

.chat-avatar{
    width: 60px;
    border-radius: 50%;
}

.chat-section{
    background-image: url(../img/mine.jpg);
}


footer{
    background-color: rgb(234,234,234);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-input{
    flex-basis: 85%;
}

/* chat section */
.sent{
    border-radius: 10px;
    background-color: rgb(213,249,186);
    width: 40%;
    padding: 10px;
    margin: 15px;
    position: relative;
    left: 375px
}

.received{
    background-color: white;
    border-radius: 10px;
    width: 40%;
    padding: 10px;
    margin: 15px;
}

.time{
    color: gray;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}

