*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

li{
    list-style-type: none;
}

.container-box{
    border: 2px dashed red;
    height: 630px;
    width: 1100px;
    display: flex;
}

.user-avatar{
    width: 23%;
    border-radius: 50%;
}

.contact-avatar{
    width: 18%;
    border-radius: 50%;
}

/* LEFT BOX */

.left-box{
    height: 100%;
    flex-basis: 35%;
}

.user-menu{
    background-color: rgb(234,234,234);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.notice{
    height: 80px;
    width: 100%;
}

.search-bar{
    width: 100%;
    font-size: 14px;
}

.contact-list{
    width: 100%;
    height: calc(100vh - 365px);
    overflow: auto;
}

.notice{
    background-color: rgb(143,219,252);
    display: flex;
    align-items: center;
}

.fa-bell-slash{
    color: rgb(143,219,252);
    background-color: white;
    border-radius: 50%;
    padding: 14px 10px;
}

.active-notice{
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}

.line{
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

/* RIGHT BOX */

.right-box{
    border: 2px dashed green;
    height: 100%;
    flex-basis: 65%;
}

